
.keyNavigation .block .functionalAreas {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
}

/*==============================添加的申请span标签的样式==================================*/
.keyNavigation .block .functionalAreas .functionSpan {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 12px;
    /*font-weight:bold;*/
    line-height: 20px;
    color: #111;
}

/*================================================================*/
.keyNavigation .block {
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    color: #ccc;
    vertical-align: top;
}

.keyNavigation .bottom ul {
    color: #777;
    text-indent: 20px;
    line-height: 2;
}

/*bottom end*/



/**
*   customMenu part
*/
.keyNavigation {
    width: 100%;
    min-width: 1263px;
    height: 220px;
    background: linear-gradient(to right bottom, rgba(172,218,244,0), rgba(0,0,0,0)),
    no-repeat center;
}

.keyNavigation .top {
    width: 1024px;
    height: 78px;
    margin:0 auto;
    text-align: center;
}

.keyNavigation .top .block{
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    color: #ccc;
    vertical-align: top;
    font-size: 15px;
    color: black;
    font-family:Microsoft YaHei;
}




.keyNavigation .top .block .verticalBar{
    display: inline-block;
    height: 60px;
    width: 1px;
    border-left: 1px #0066b3 solid;
    margin-left: 25px;
}

.keyNavigation .top .block .briefInformation{
    display: block;
}

.keyNavigation .top .block .briefInformation ul {
    color: #333;
    text-indent: 20px;
    line-height: 2;
}

/*原来的背景色background: rgba(36, 139, 230, 0.1);*/
.keyNavigation .bottom {
    width: 1150px;
    height: 97px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    color: #777;
    border-top: 1px solid rgba(200,200,200,0.5);
    background: rgba(36, 139, 230, 0.1);

}