.task tbody tr td:first-child {
    text-align: center;
}

.task tbody tr td {
    vertical-align: inherit;
}

.task tbody tr:first-child td {
    text-align: center;
}

.task tbody tr td.center {
    text-align: center;
}
.task tbody tr td.highLight.center {
    border: 1px solid #337ab7;
}