<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../../../build/bootstrap/js/jquery-latest.js"></script>
    <script src="../../../build/bootstrap/js/bootstrap.js"></script>
    <script src='../../../build/jquery-media/jquery.media.js'></script>
    <script type="text/javascript">
        $(function () {
            $('a.media').media({ width: 800, height: 800 });
        });
    </script>
</head>
<body>
<form id="form1" >
    <div id="main">
        <a class="media" href="../../../build/DifficultSurvey.pdf" id="PDFFile">
            click me </a>
    </div>
</form>
</body>
</html>