* {
    outline: 0 !important;
}

.Business{
    padding: 0px;
    margin: 0px;
    background: #e8e8e8;
}


.nav-collapse{
    width: 100%;
}

.nav-collapse .nav{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
}

.nav-collapse .nav > li {
    float: none;
    display: inline-block;
    text-align: center;
    margin: 0 6px;
}

.nav-collapse .nav > li > a {
    display: block;
    height: 100%;
    text-align: center;
    padding: 10px 15px 9px;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.nav-collapse .nav > li > a span {
    font-size: 28px;
    width: 38px;
    height: 38px;
    display: block;
    margin: 0 auto 2px;
}

.nav-collapse .nav > li .dropdown-menu {
    text-align: left;
}

.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.96);
    border: 1px solid #dddddd;
    padding: 0;
    min-width: 70px;
    max-width: 300px;
}

.dropdown-menu > li {
    margin: 0;
}


.dropdown-menu > li > a {
    padding: 10px 15px 10px 2px;
    border-bottom: 1px solid #e2e2e2;
    color: #999999;
    font-size: 15px;
    margin-left: 2px;
}

.dropdown-menu > li .notifications {
    margin: -1px -4px 0 0 !important;
    float: right;
}

.label {
    font-size: 85%;
    line-height: 1.4;
    font-weight: 300;
    border-radius: 0px;
    margin: 0 5px;
    display: inline-block;
}

.dropdown-menu > li p {
    margin: 0 60px 0 0;
}

.dropdown-menu > li > a.current {
    color: #007aff;
    background: transparent;
}


.main-content{
    margin-bottom: 0px;
}

.page-title {
    padding: 0 20px;
    margin-top: 0px;
    font-size: 22px;
    text-align: center;
}

.page-title h1 {
    margin-bottom: 25px;
    color: #5e5e5e;
    font-weight: 300;
}

.well {
    padding: 15px 15px 1px;
    border: 0;
    background-color: #dadada;
    background-color: rgba(0, 0, 0, 0.06);
    margin-bottom: 0;
    box-shadow: none;
    color: rgba(85, 85, 85, 0.91);
}
.invoice .well strong {
    font-size: 85%;
    color: #888888;
    border-bottom: 1px solid #c6c6c6;
    display: block;
    padding-bottom: 8px;
    margin-bottom: 10px;
}

.widget-container.fluid-height {
    height: auto;
    min-height: 0;
}

.widget-container {
    min-height: 320px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.widget-container .widget-content {
    width: 100%;
}

.padded {
    padding: 15px;
}

.table-head{
    font-size: 18px;
}

.table tfoot > tr:first-child > td {
    border-top: 1px solid #dddddd;
    padding-top: 15px;
}

.table tfoot > tr > td {
    border-top: 0;
}


.pagination li {
    float: left;
    display: inline-block;
}



.content {
    padding: 28px 8px 30px;
    background: #fff;
    border-top: 0;
}
.summary {
    padding: 28px 0;
    border: 2px solid #e2e2e2;
    background-color: #f1f1f1;
}
.summary .valid {
    width: 25%;
}
.summary .desc {
    font-size: 20px;
    font-weight: 700;
    color: #666;
}
.summary .point {
    font-size: 26px;
    font-weight: 700;
    color: #288c29;
    height: 40px;
    line-height: 40px;
}
.summary span {
    display: block;
    text-indent: 60px;
    text-align: left;
}
.summary .item {
    float: left;
    border-right: 1px solid #e2e2e2;
}
.summary .exchange {
    width: 75%;
    border-right: 0;
}
.summary .exchange a {
    display: block;
    width: 260px;
    height: 44px;
    margin: 2px auto;
    line-height: 44px;
    background: cadetblue;
    color: #fff;
    font-size: 18px;
    border-radius: 3px;
    text-align: center;
}
.detail {
    margin-top: 28px;
}
.masthead {
    background-color: #f1f1f1;
    border-width: 1px 0;
    border-color: #e3e3e3;
    border-style: solid;
    color: #999;
}

.detail .masthead li {
    display: block;
    float: left;
    border-right: 1px solid #e3e3e3;
    height: 32px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
}
.detail .why {
   float:left;
   width:25%;
   borderRight:1px solid #aaa;
   textAlign:center;
}
.detail .what{
    float:left;
    width:25%;
    borderRight:1px solid #aaa;
    textAlign:center;
}
.detail .when{
    float:left;
    width:25%;
    borderRight:1px solid #aaa;
    textAlign:center;
}
.detail .notes{
    float:left;
    width:25%;
    borderRight:1px solid #aaa;
    textAlign:center;
}
 .detail .item-list {
    margin-top: 12px;
    border-top: 1px solid #f1f1f1;
}
.detail .item {
    padding: 20px 0;
    border-bottom: 1px solid;
}
.detail .item div {
    float: left;
    overflow: hidden;
}

.detail .why .orderNum {
    color: #999;
    display: block;
    line-height: 40px;
    text-align: center;
}
.detail .item .what {
    font-size: 20px;
    line-height: 91px;
    padding-left: 15px;

}
.detail .item .when {
    line-height: 60px;
    color: #999;
    text-align: center;
}
.detail .item .notes {
    line-height: 60px;
    color: #999;
    text-align: center;
}
.nav-return{
    text-align: center;
    padding:12px 0 70px 0
}