.Li ul li span {
    cursor: pointer;
}
.new-title{
    display: block;
    float: left;
    width: 800px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2em;
}
.new-title:hover {
    color: #337aff;
}
.li-new-date{
    margin-right: 10px;
    font-size: 1.2em;
}

.list a span {
    color: #337ab7;
    cursor: pointer;
}