
.row {
    margin-left: -15px;
    margin-right: -15px;

}

.col-md-6{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.featured-grid, .featured-grid.featured-grid-2 {
    width: 85%;
    height: 376px;
    float: left;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 3em;
}

.featured-grid .desc {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 9;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.featured-grid .desc h3 {
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, figure {
    font-family: "Playfair Display", Arial, serif;
    font-weight: 400;
    margin: 0 0 30px 0;
    letter-spacing: 1px;
}
h3, .h3 {
    font-size: 24px;
}
.featured-grid .desc span {
    color: rgba(255, 255, 255, 0.5);
}