
.form .table thead td{
    font-family:  Microsoft YaHei,lucida, verdana, arial, sans-serif;
    font-size:18px;
}

.form .table tfoot button{
    margin:0px 20px 0px 20px;
}

.password.highLight table tr td {
    border: 1px solid #0066b3;
}

.password.highLight table thead tr:first-child td {
    border: 1px solid #0066b3;
}